server {
    listen ${NGINX_PORT} default_server;
    server_name _;
    root /dist/apps/website;
    
    location / { 
        try_files $uri /index.html;
    }
    location /static/fonts/ {
        add_header Cache-Control max-age=31536000;
        try_files $uri /index.html;
    }
}
