{
    "presets": [
        [
            "@nrwl/react/babel",
            {
                "runtime": "automatic"
            }
        ]
    ],
    "plugins": [
        [
            "babel-plugin-direct-import",
            { "modules": ["@mui/material", "@mui/icons-material"] }
        ]
    ]
}
